In [1]:
import pandas as pd

In [31]:
google_metadata = pd.read_json('metadadasitios/5.json',encoding='utf-8',lines=True)

In [32]:
google_metadata['price'].value_counts() #analisis columna price de metadata google

$       9482
$$      8450
$$$      798
$$$$      71
Name: price, dtype: int64

In [34]:
google_metadata['price'].isnull().sum() # cantidad de datos nulos

256200

In [35]:
google_metadata['price'].shape #tamaño archivo 1

(275001,)

In [43]:
google_metadata.head(5)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,None,32.388300,-83.357100,[Pharmacy],4.9,16,None,"[[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"[0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...",https://www.google.com/maps/place//data=!4m2!3...
1,Glik's,"Glik's, 1405 W Main St, Gaylord, MI 49735",0x4d354f7b3ae7bef1:0x8d9fdcd2fd71eb10,Family-owned clothing chain offering trendy ca...,45.025578,-84.702644,"[Clothing store, Shoe store, Women's clothing ...",4.4,16,None,"[[Saturday, 10AM–8PM], [Sunday, 12–5PM], [Mond...","{'Service options': ['In-store pickup', 'In-st...",Open ⋅ Closes 8PM,"[0x4d3545876def64d9:0x9ce5f21fc27974d6, 0x4d35...",https://www.google.com/maps/place//data=!4m2!3...
2,Oscoda County Area Transit Authority (O-cats),"Oscoda County Area Transit Authority (O-cats),...",0x88208ef3441c45bb:0x8dd64d99a31de703,None,44.645621,-84.149766,[Handicapped transportation service],4.7,6,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,"[0x88208ef38622eed1:0xc6f564f43dcbeb30, 0x8820...",https://www.google.com/maps/place//data=!4m2!3...
3,Hickerson Floor & Tile Haus,"Hickerson Floor & Tile Haus, 2234 M-32, Gaylor...",0x4d35487e8d000561:0xdb6871623dbb10ef,None,45.028342,-84.719165,"[Flooring store, Carpet store, Rug store, Tile...",4.7,16,None,"[[Saturday, 9AM–3PM], [Sunday, Closed], [Monda...","{'Service options': ['In-store pickup', 'In-st...",Closed ⋅ Opens 9AM Mon,"[0x4d354f7bc740703b:0x804108d3b0032d71, 0x4d35...",https://www.google.com/maps/place//data=!4m2!3...
4,Beck Suzanne A MD,"Beck Suzanne A MD, 3502 22nd St, Lubbock, TX 7...",0x86fe72aa61be7aaf:0xb9f513a5f8e16a0b,None,33.575336,-101.890226,[Doctor],4.2,5,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,"[0x86fe0d58535f631b:0x487a281ef8b56aa8, 0x86fe...",https://www.google.com/maps/place//data=!4m2!3...

In [47]:
category=google_metadata['category'].apply(pd.Series).reset_index() #desanidar cetegorias

In [48]:
category.head(2)

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0,Pharmacy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Clothing store,Shoe store,Women's clothing store,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
categorymelt = category.melt(id_vars="index",var_name="category",value_name="catego")

In [50]:
categorymelt.head()

   index category                              catego
0      0        0                            Pharmacy
1      1        0                      Clothing store
2      2        0  Handicapped transportation service
3      3        0                      Flooring store
4      4        0                              Doctor

In [51]:
categorymelt.shape

(4400016, 3)

In [57]:
categ_uni=categorymelt['catego'].drop_duplicates()

In [58]:
categ_uni.head() #lista con categorias unicas para archivo 1 de metadata

0                              Pharmacy
1                        Clothing store
2    Handicapped transportation service
3                        Flooring store
4                                Doctor
Name: catego, dtype: object

In [60]:
categ_uni.to_csv('categ.csv')

In [2]:
jsonyelp = pd.read_json('yelp_datasets/yelp_business.json',encoding='utf-8',lines=True)

In [3]:
jsonyelp.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."